@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";
@import "vextab";

h1 {
  font-size: 30px;
  text-align: center;
}

body * {
  font-family: Georgia, serif;
}

.vex-canvas {
  display: block;
  margin: 0 auto;
}
